:root {
  --main: #D4B506;
  --peach: #dba7a2;
  --light-main: #F6BA07;
  --border-radius: 10px;
  --box-shadow: 10px 10px 25px -19px #2f2f2f8f;
  --linear-background: linear-gradient(0deg, var(--main), var(--light-main));
}
/* HTML Elements */
* {
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin-top: 8rem;
  color: #333;
  background: #f8fa7a;
  font-family: 'Nunito', sans-serif;
  /* font-family: sans-serif; */
  overflow-x: hidden;
}
h1 {
  text-align: center;
  font-size: 2.5rem;
}
hr {
  height: 3px;
  margin: 5px;
  background: #fff;
}
body::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 10px;
}
body::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #000;
}
input {
  display: none;
}
iframe {
  display: block;
  margin: 2rem auto;
}
footer {
  width: 100%;
  height: 3rem;
  background: var(--linear-background);
}
figure {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  transition: all ease 0.5s;
  transform-style: preserve-3d;
  transform: perspective(600px) rotateY(0deg);
}
/* Classes */
.header {
  width: 100%;
  background: var(--linear-background);
  color: white;
  position: fixed;
  top: 0;
  z-index: 10;
}
.logo-wrap {
  display: flex;
  align-items: center;
  height: 100%;
}
.container {
  width: 100%;
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 30px;
}
.header-container {
  width: 100%;
  max-width: 1660px;
  margin: 0 auto;
  padding: 0 30px;
}
.back-button {
  letter-spacing: 0.5px;
  padding: 18px 20px;
  border-radius: 5px;
  background: #EBE104;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  text-shadow: 1px 1px #000;
  text-decoration: none;
}
.back-button:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  position: fixed;
  width: 20rem;
  top: 5.4rem;
  z-index: 1000;
}
.btn-menu {
  width: 5rem;
  background: #EBE104;
  text-align: center;
  padding: 10px;
  text-shadow: 1px 1px #000;
  border-radius: 0 10px 10px 0;
  color: #fff;
  margin-bottom: 0.1rem;
}
.btn-menu:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s;
}
.categories {
  position: relative;
  transition: 0.5s;
}
.btn-instructions {
  width: 16rem;
  background: #EBE104;
  text-align: center;
  margin: auto;
  padding: 5px;
  text-shadow: 1px 1px #000;
  border-radius: 10px;
  color: #fff;
}
.btn-instructions:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s;
}
.description {
  height: 20rem;
  margin: 1rem;
  font-size: 1.3rem;
  line-height: 2rem;
  overflow: auto;
  transition: all 1s;
  opacity: 1;
}
.info-container {
  width: 100%;
  background: #f8fa7a;
}
.info-header {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 1.1rem;
}
.list {
  width: 70%;
  margin: auto;
}
.container-of-all-cards {
  width: 70%;
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.card-container {
  margin: 1rem;
  width: 28%;
}
.front,
.back {
  width: 100%;
  height: 21.5rem;
  object-fit: cover;
}
.front {
  display: block;
}
.back {
  position: absolute;
  top: 0;
  padding: 5px;
  color: #fff;
  transform: perspective(600px) rotateY(180deg);
  backface-visibility: hidden;
  overflow: auto;
  background: rgba(0,0,0,0.7);
}
/* IDs */
#logo {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-right: 20px;
  border: solid 2px var(--main);
}
#instructions:checked ~ .description {
  height: 0;
  opacity: 0;
}
#menu:checked ~ .categories {
  margin-left: -100%;
  opacity: 0;
}
#cover-img {
  display: block;
  margin: 2rem auto;
  width: 60%;
  border: 2px solid #000;
}
/* Nested Elements */
.header h3 {
  padding: 30px 20px;
}
.btn-instructions label:hover {
  cursor: pointer;
}
.btn-menu label:hover {
  cursor: pointer;
}
.categories ul {
  background: var(--linear-background);
  position: absolute;
  text-shadow: 1px 1px #000;
  border-radius: 0 10px 10px 0;
  list-style: none;
  padding: 0;
}
.categories li {
  text-align: center;
  padding: 1rem;
}
.categories li:hover {
  border-bottom: 1px solid #000;
  background: rgba(0,0,0,0.1);
}
.categories a {
  text-decoration: none;
  color: #fff;
}
.description p {
  margin: 1rem 0;
}
.info-header h3 {
  font-size: 1.5rem;
}
.info-header img {
  width: 4rem;
  margin: 2rem 2rem 2rem 0;
}
.list p {
  padding-bottom: 2rem;
}
.list img {
  width: 5rem;
  margin-left: 1rem;
  transition: 0.3s;
}
.list img:hover {
  transform: scale(1.2);
}
.list ul {
  padding: 0;
}
.list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 2px #000;
  padding-right: 2rem;
}
.list li:hover {
  transition: 0.3s;
  background: rgba(255,255,255,0.2);
}
.card-container:hover figure {
  -webkit-transform: perspective(600px) rotateY(180deg);
  -ms-transform: perspective(600px) rotateY(180deg);
  -o-transform: perspective(600px) rotateY(180deg);
  transform: perspective(600px) rotateY(180deg);

  -webkit-box-shadow: -1px 1px 19px 0px rgba(3,1,3,0.44);
  -moz-box-shadow: -1px 1px 19px 0px rgba(3,1,3,0.44);
  box-shadow: -1px 1px 19px 0px rgba(3,1,3,0.44);
}
.card-container:hover img {
  filter: blur(3px);
}

/* Media Queries */
@media (max-width: 768px){
  .list {
    width: 95%;
  }
  .list p {
    text-align: justify;
  }
  .list img {
    margin-right: 2rem;
  }
  .container-of-all-cards {
    width: 95%;
  }
  .card-container {
    width: 35%;
  }
  .front,
  .back {
    height: 20rem;
  }
  .menu {
    top: 5.4rem;
  }
  iframe {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .card-container {
    margin: 0.5rem;
    width: 45%;
  }
  .front,
  .back {
    height: 16.5rem;
  }
  .menu {
    top: 7rem;
  }
  body {
    margin-top: 10rem;
  }
}
@media (max-width: 400px){
  .card-container {
    margin: 0.4rem;
    width: 46%;
  }
  .front,
  .back {
    height: 14rem;
  }
  .menu {
    top: 8.6rem;
  }
  body {
    margin-top: 11rem;
  }
}
/* Keyframes */
