/* HTML Elements */
strong {
  font-size: 1.5em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header {
  background-color: #dedede;
  padding: 10px;
  font-size: 20px;
}
/* Classes */
.camperCell {
  background-color: silver;
  border-radius: 10px;
  border: 5px grey solid;
  box-shadow: 2.5px 5px #4f4d46;
  margin: 7px;
  min-width: 300px;
}
/* IDs */
#home {
  background-color: #dedede;
  margin: 0px;
  position: sticky;
  top: 0px;
  padding: 5px;
  z-index: 20;
}
#cellPanel{
  margin:0 10%;
  display: flex;
  justify-content: center;
}
#profiles {
  text-align: center;
}
/* Nested Elements */
.camperCell h1 {
  font-size: 1.5em;
}
.camperCell img {
  border-radius: 50%;
  width: 150px;
}
.camperCell p {
  font-size: 1.3em;
}
header > ol > li {
  margin-left: 5%;
  margin-bottom: 10px;
}
#profiles > h1 {
    text-align: center;
    margin: 30px auto;
}
/* Media Queries */
/* keyframes */
/* ==================================================================================================================== */
/* Add your unique styles below*/
/*david*/
#davidfraser {
  color: #5b45a3;
  background: #45a3a3;
  border-color: #4f25d9;
}
#unclebay{
  background: dodgerblue;
  border-color: orange;
  color: #fff; 
  cursor: pointer;
  font-family: cursive;
  opacity: 0.8;
}
#unclebay:hover{
  opacity: 1;
}
/*camper2*/
#camper2 {
  color: purple;
}
/*biscuit*/
#biscuit {
  color: #f0296c;
  background: #333;
  border: solid 5px #d61052;
}
/*theTradeCoder*/
div#theTradeCoder{
  background-color:#00182b;
  color:#bbbbbb;
  border:5px solid #00182b;
  box-shadow: 3px 6px orange;
}
/*theTradeCoder*/
#emmavz {
  color: #55ff55;
  background: #0055ff;
  border: solid 5px #55ff55;
}
#sparrow {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  border-color:darkcyan;
}
/*tfrick47*/
#tfrick47 {
  background-color: orange;
  border: 5px solid darkgreen;
  box-shadow: 2px 3px 3px 3px gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#tfrick47 img {
  border: 1px solid black;
}
/*misterybodon*/
#misterybodon{
    background-color:#680000;
    color:rgba(125,125,125);
    letter-spacing:1px;
    border: 2px #b35858 solid;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.7), 2px 2px 2px 2px rgba(0,0,0,0.3);
}
#misterybodon h1{color:rgba(150,150,150);
font-family: "Comic Sans MS", cursive, sans-serif;
font-size:1.8rem;
padding:0.5rem;
}
#misterybodon img{
clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 56%, 66% 60%, 48% 100%, 33% 61%, 0 58%, 0% 35%, 20% 10%);
}

#loveless{
  background-color: rgb(16, 163, 16);
  border: 3px solid hotpink;
}
#bilikis{
  background-color: rgb(238, 238, 22);
  border: 5px blue solid;
}
#neelyanne {
  background-color: red;
  border: 5px solid black;
  box-shadow: 2px 3px 3px 3px gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#satyamrastogi {
  background-color: lightblue;
  border: 5px solid black;
  box-shadow: 2px 3px 3px 3px gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#avalojc{
  background-color: #4f25d9;
  border:3px dashed rgba(0,0,0,0.7);
  color: rgba(152, 252, 255, 1);
  font-family: fantasy;
}
#nilax97{
  background-color: #1a1a2e;
  border:5px solid rgba(233,69,96,0.8);
  color: rgba(236,236,236, 0.8);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* James's styling */
#james{
  background-image: linear-gradient(45deg, #28009f 0%, #3d0276 45%, #7b17e6 100%);
  border: 10px solid #fee302;
  color: whitesmoke;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media (max-width: 600px) {
  .camperCell {
    min-width: 100%;
  }
}

/* 
----------------------
Saurav Kumar's styling
----------------------
*/

#myCamperCell{
  background: #fff;
  box-shadow: 0 0 10px 2px hsl(197, 71%, 75%);
  border: none;
  padding: 10px;
  animation: appear 1s ease-in-out 1s 1 forwards;
  animation-fill-mode: both;
}

#myCamperCell *{
  margin: 5px;
}
#myCamperCell h1{
  margin-bottom: 10px;
  font-weight: 600;
  animation: appear 400ms ease-in-out 2s 1 forwards;
  animation-fill-mode: both;
}
#myCamperCell img{
  margin-bottom: 10px;
  animation: appear 400ms ease-in-out 2400ms 1 forwards;
  animation-fill-mode: both;
}
#myCamperCell p{
  animation: appear 400ms ease-in-out 2800ms 1 forwards;
  animation-fill-mode: both;
}

@keyframes appear{
  0%{
    opacity: 0;
    transform: translateY(5px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}
