/*
A CSS style specific to the Widgets page
The Home Page styles have been linked above this stylesheet in the HTML,
so they are included but can be overridden by this stylesheet when needed
for the Widgets page.
*/

/* Page css */
:root {
  --galaxy-black: #190f26;
  --lightest-gray: #f1f1f3;
  --deep-purple: #392259;
  --medium-purple: #5a378c;
  --violet: #c57ee6;
}
body {
  padding: 0;
  background: var(--galaxy-black);
  color: var(--violet);
}
header {
  display: flex;
  width: 100%;
  height: 100px;
  background: var(--deep-purple);
  color: white;
  align-items: center;
  justify-content: center;
}
main {
  width: 75%;
  height: auto;
  border-radius: 5px;
  background-color: var(--lightest-gray);
  color: black;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
}
.widget {
  margin: 1em;
  border-radius: 5px;
  background-color: white;
}
#logo-wrap {
  flex: 4;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
#logo {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  padding: 20px;
  border: solid 2px black;
}
/* Show Time css */
.show-time {
  flex: 1;
  font-size: 1.3rem;
}
.btn-group-vertical {
  display: none;
}
/* google search css */
.google-search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  background-color: transparent;
}
.google-search {
  padding: 5px;
}
.btn-primary {
  background-color: #5A378C;
  color: white;
}
.btn-div {
  text-align: center;
}
/* carousel css */
.carousel-inner {
  background-color: var(--deep-purple);
}
.carousel-comment {
  text-align: center;
  padding: 1em;
  font-family: "cardo";
  color: white;
}
#reviewFade {
  margin: 2em;
}
#reviewFade .carousel-control-prev,
#reviewFade .carousel-control-next {
  opacity: 0.5;
}
#reviewFade .carousel-control-prev:hover,
#reviewFade .carousel-control-next:hover {
  opacity: 1;
}
