/*
A CSS style specific to the Widgets page
The Home Page styles have been linked above this stylesheet in the HTML,
so they are included but can be overridden by this stylesheet when needed
for the Widgets page.
*/

/* Page css */
:root {
  --galaxy-black: #190f26;
  --lightest-gray: #f1f1f3;
  --deep-purple: #392259;
  --medium-purple: #5a378c;
  --violet: #c57ee6;
}
body {
  padding: 0;
  margin: 0 auto;
  background: var(--galaxy-black);
  color: var(--violet);
}
header {
  display: flex;
  margin: 0;
  width: 100%;
  height: 100px;
  background: var(--deep-purple);
  color: white;
  align-items: center;
}
main {
  width: 75%;
  height: auto;
  border-radius: 5px;
  background-color: var(--lightest-gray);
  color: black;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
}
.widget {
  margin: 1em;
  border-radius: 5px;
  background-color: white;
}
#back-button-wrapper {
  flex: 2;
  padding-right: 15px;
}
.back-button {
  display: inline-flex;
  align-self: center;
  justify-content: center;
  float: right;
  letter-spacing: 0.5px;
  padding: 18px 20px;
  border-radius: 5px;
  background: var(--medium-purple);
  color: white;
  cursor: pointer;
  text-align: center;
  font-size: 1.25em;
}
.back-button:hover {
  text-decoration: none;
  opacity: 0.7;
  font-weight: 600;
  color: white;
}
#logo-wrap {
  flex: 2;
}
#logo {
  margin-left: 15px;
}
/* Show Time css */
.show-time {
  flex: 3;
  font-size: 1.3rem;
  text-align: center;
}
/* google search css */
.google-search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  background-color: transparent;
}
.google-search {
  padding: 5px;
}
.btn-primary {
  background-color: #5A378C;
  color: white;
}
.btn-div {
  text-align: center;
}
.btn-group-vertical {
  display: none;
}
/* carousel css */
.carousel-inner {
  background-color: var(--deep-purple);
}
.carousel-comment {
  text-align: center;
  padding: 1em;
  font-family: "cardo";
  color: white;
}
.section-header {
  color: var(--violet);
  text-align: center;
}
#reviewFade {
  margin: 2em;
}
#reviewFade .carousel-control-prev,
#reviewFade .carousel-control-next {
  opacity: 0.5;
}
#reviewFade .carousel-control-prev:hover,
#reviewFade .carousel-control-next:hover {
  opacity: 1;
}
/* weather widget css */

.weather {
  color: white;
  text-align: center;
  flex-direction: column;
}

.weather h1 {
  font-size: 1.5rem;
  margin: 0;
  padding: 10px;
}
.form {
  margin: 20px;
  background-color: var(--medium-purple);
  border-radius: 5px;
}
.form input {
  width: 100%;
  font-size: 1rem;
  line-height: 2rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid var(--medium-purple);
}
.display {
  margin-top: 20px;
  text-transform: uppercase;
}
.display .icon {
  position: relative;
  top: -50px;
  width: 100px;
  background: aliceblue;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: -50px;
}
.details h5, .condition, .temperature {
  margin: 10px;
  font-size: 1rem;
  color: black;
}
/* media queries */
@media (max-width: 1024px) {
  .rev-div p {
    font-size: 1em;
  }
}
@media (max-width: 600px) {
  main {
    padding: 10px;
    width: 85%;
  }
  .show-time {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .back-button {
    padding: 8px 12px;
    font-size: 1.25em;
  }
  .rev-div > p {
    font-size: 22px;
  }
  .btn-group {
    display: none;
  }
  .btn-group-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .google-wrap {
    width: 100%;
    padding: 5px;
  }
  #reviewFade {
    margin: 20px 0;
  }
}
