:root {
  --main: #5f1735;
  --peach: #dba7a2;
  --light-main: #90183c;
  --border-radius: 10px;
  --box-shadow: 10px 10px 25px -19px #2f2f2f8f;
  --linear-background: linear-gradient(0deg, var(--main), var(--light-main));
}



* {
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  background: #eeeeee;
  font-family: 'Nunito', sans-serif;
  /* font-family: sans-serif; */
  overflow-x: hidden;
}
body::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 10px;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, #90183c),
    color-stop(0.72, #720022),
    color-stop(0.86, #90183c)
  );
}

.header {
  width: 100%;
  height: 80px;
  background: var(--linear-background);
  color: white;
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo-wrap {
  display: flex;
  align-items: center;
  height: 100%;
}

#logo {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-right: 20px;
  border: solid 2px var(--main);
}

.container {
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
    padding: 0 30px;
}

.header-container {
  width: 100%;
  max-width: 1660px;
  margin: 0 auto;
  padding: 0 30px;
}

.back-button {
  letter-spacing: 0.5px;
  padding: 18px 20px;
  border-radius: 5px;
  background: #0000002c;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back {
  position: absolute;
  left: 0;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.header h3 {
  padding: 30px 20px;
}

.score-section {
    height: 150px;
}


.title-section .title {
    padding-bottom: 10px;
    text-transform: capitalize;
    color: rgb(87, 87, 87);
  
}

.quiz {
 
  padding-top: 80px;
}

.quiz-wrap {
    display: flex;
}
.quiz-container {
  min-width: 600px;
  width: 100%;
  background: white;
  min-height: 520px;
  border-radius: var(--border-radius);
  margin-right: 10px;
  box-shadow: var(--box-shadow);
}

.question-wrap {
  position: relative;
  height: 420px;
  overflow: hidden;
  background: #5f1735;
}

.question-area {
  height: 100%;
  width: 100%;
  background: white;
  display: none;
  animation-duration: .7s;
  

}
.question {
  text-align: center;
  padding: 30px 0;
}

.answers {
  width: 400px;
  margin: 50px auto 0 auto;
}

.answer {
  padding: 5px;
  height: 30px;
  background: #5f1735;
  border-radius: 5px;
  color: white;
  min-width: 200px;
  text-transform: capitalize;
  margin-top: 5px;
  cursor: pointer;
}

.answer-button {
  height: 100%;
  width: 30px;
  
}

.answer-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 2px white;
}

.answer-text {
  font-weight: 300;
  padding-left: 10px;
}

.quiz-over {
  text-align: center;
  padding-top: 60px;
}




.start-screen {
  position: absolute;
  background: white;
  width: 100%;
  height: 100%;
  text-align: center;
  animation-duration: .7s;
}
.start-screen h1 {
  padding: 130px 0 10px 0;
  font-size: 50px;
  text-transform: uppercase;
}
.start-screen h3 {
 padding: 10px 0;
 color: rgb(75, 75, 75);
 font-weight: 400;
}

.start-btn {
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  letter-spacing: 2px;
  color: white;
  border-radius: 50px;
  background: var(--linear-background);
  cursor: pointer;
  transition: 0.5s;
  margin: 20px auto;
}


.start-btn:hover {
  transform: scale(0.9);
}

.quiz-footer {
  height: 100px;
  background: var(--linear-background);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slide-amount {
  color: #ffffff;
  font-weight: 100;
  font-size: 14px;
}

.slides {
  width: 100%;
  height: 100%;
}

.quiz-section-wrap {
  flex-grow: 1;
}

.quiz-selector-wrap {
  flex-grow: 1;
}

.quiz-section-chooser {
  width: 400px;
  height: 520px;
  background: var(--linear-background);
  border-radius: var(--border-radius);
  margin-left: 10px;
  box-shadow: var(--box-shadow);
  color: white;
  padding: 0 40px;
}
.chooser-title-wrap {
  height: 70px;
  display: flex;
  align-items: flex-end;
}

.number-title {
  letter-spacing: 0.5px;
  padding-bottom: 10px;
}

.chooser-button {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid white 1px;

  cursor: pointer;
}

.chooser-button:last-child {
    border: none;
}

.number {
  flex: 1;
}
.chooser-text {
  flex: 6;
}

.fill {
  background: white;
}

.chooser-title {
  text-transform: capitalize;
  letter-spacing: 0.5px;
  font-weight: bold;
  padding-bottom: 2px;
  font-size: 18px;
}
.chooser-subtitle {
  color: #e6e6e6;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  font-size: 14px;
  font-weight: 500;
}
.chooser-button-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: solid 3px white;
}





