body{
    --color1: #ACB6E5;
    --color2: #74ebd5;
    font-family: 'Open Sans', sans-serif;
}

html, body{
    height: 100%;
    margin: 0;
}

.main{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@supports (-webkit-text-stroke: 1px black) {
    h1 {
      -webkit-text-stroke: 0.2px var(--color1);
      -webkit-text-fill-color: var(--color2);
    }
  }

h1{
    font-family: 'Titillium Web', sans-serif;
}

.waterGlassContainer{
    display: flex;
    width: 200px;
    height: 200px;
    align-items: flex-end;
    padding: 10px;
    margin: 10px;
}

.glass{
    perspective: 100px;
    width: 90%;
    height: 90%;
    margin: auto;
}

#water {
    margin: auto;
    width: 70%;
    height: 100%;
    background-color: hsl(0, 0%, 85%);
    transform: rotateX(-10deg);
    transition: all 0.2s ease-in-out;
    color: #fff;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Buttons */
.btn{
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
    margin: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    height: 2rem;
    background: #74ebd5;  /* fallback for old browsers */
    border-radius: 20px;
    color: #fff;
    background: -webkit-linear-gradient(to right, var(--color1), var(--color2));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--color1), var(--color2)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.btn:hover{
    filter: brightness(0.9);
}

/* Input */

input[type=number] {
    width: 15rem;
    height: 2rem;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 0 5px var(--color2);
    border: none;
    -moz-appearance:textfield;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    
  }

/* Modal */

.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0;
    z-index: 999;
    top: 0;
    left: 0;
    background: hsla(0,0%,100%, 0.5);
}

/* Add Water modal */

.gModal{
    background-color: #fff;
    max-width: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gContainer{
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-flow: column;
    align-items: center;
    flex-basis: 100px;
    height: 100px;
    cursor: pointer;
    border: 2px solid var(--color2);
    border-radius: 15px;
    margin: 5px;
    padding: 10px;
    color: var(--color2);
}

.gContainer:hover{
    filter: brightness(0.8);
}

.gIcon{
    width: 80px;
}

.gImg{
    width: 100%;
}

.gText{
    text-align: center;
}

/* Footer */
footer{
    position: fixed;
    bottom: 0;
    margin-top: auto;
    text-align: center;
    font-size: 0.5em;
}

/* keyframes */
@keyframes exit{
    0%{
        height: 100%;
        opacity: 1;
    }
    100%{
        height: 0;
        opacity: 0;
    }
}

/* More styles coming in the future */